.day {
  font-size: 1rem;
  color: transparent;
  padding: 10px;
  border: 5px solid transparent;
}

.currentMonthDay {
  color: #b8b8b8;
}

.currentDay {
  color: #ec1456;
  border: 5px solid #ec1456;
  border-radius: 50%;
}
